{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('rooms') }}">< Back to rooms</a>
    <turbo-frame id="room">
        <h1>{{ include('fragments/_room_name.html.twig', {room: room}) }}</h1>
        <a href="{{ path('rename_room', {'id': room.id}) }}">Rename</a>
    </turbo-frame>
    <ul id="messages-{{ room.id }}" {{ turbo_stream_listen('App\\Entity\\Message') }}>
        {% for message in messages %}
            {{ include('fragments/_message.html.twig', {message: message}) }}
        {% endfor %}
    </ul>
    {{ form(form) }}
{% endblock %}
